body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: #18371bf0;
    color: whitesmoke;
    font-size: 24px;
    padding-top: 12px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    gap: 30px
}

.cont1 {
    background-color: #18371bf0;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

h1 {
    font-size: 48px;
    color: whitesmoke;
    font-weight: bolder;
    margin-block-end: 0;
}

p {
    font-size: 18px;
    color: whitesmoke;
    font-weight: 200;
    margin-right: 20px;
}

button {
    border: none;
    color: white;
    background-color: #269631;
    padding: 8px 8px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.main {
    width: 500px;
    height: 300px;
    border-radius: 25px;
    padding-left: 14px;
    padding-top: 20px;
    flex: 1;
}

.cont2 {
    background-color: whitesmoke;
    padding: 12px;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    text-align: center;
}

h2 {
    color:#18371bf0;
    font-size: 32px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 10px;

}

img {
    width: 200px;
    height: auto;
    border-radius: 5%;
}

.cont3 {
    background-color: #E5E7EB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.quote-text {
    font-style: italic;
    font-size: 36px;
    font-weight:100;
    color: #18371bf0;
}

.quote-credit {
    text-align: right;
    color: #18371bf0;
    font-weight: bold;
}

.cont4 {
    background-color: whitesmoke;
    padding: 20px;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.greenbox {
    background-color: #269631;
    border-radius: 25px;
    padding: 20px;
    padding-left: 80px;
    margin: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cont4button {
    border: whitesmoke;
    border-width: 2px;
    border-style: solid;
    width: 120px;
    height: auto;
    margin-left: 140px;
    margin-right: 140px;
}

h3 {
    font-size: 24px;
    color: whitesmoke;
}

.footer {
    background-color: #18371bf0;
    text-align: center;
    padding: 20px;
}

.foottext {
    font-size: 12px;
}
